
/* Spinner */
.innometrics-loader {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    .spinner {
        position: absolute;
        width: 70px;
        height: 70px;
        left: 50%;
        top: 50%;
        margin: -35px 0 0 -35px;
        background: url('https://profilecloud.apsis1.com/elygui/images/loading.gif') center no-repeat;
    }
    .overlay {
        background: white;
        opacity: 0.5;
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
    }
}
/* Innometrics style */

.innometrics-app {
    font-size: 13px;
    font-family: Arial, Verdana, Sans-Serif;
    color: #666666;
    padding-top: 5px;

    h3 {
        color: #333;
        font-size: 19px;
        font-weight: bold;
        margin-bottom: 0.3em;
        &:first-child {
            margin-top: 0;
        }
    }

    .well {
        background: transparent;
        border: 1px solid #e0e0e0;
        padding: 12px 15px 20px;
        margin-bottom: 10px;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
        h3 {
            font-weight: normal;
        }
    }

    .well-sm {
        border-radius: 0;
    }

    .col-xs-1:first-child,
    .col-sm-1:first-child,
    .col-md-1:first-child,
    .col-lg-1:first-child,
    .col-xs-2:first-child,
    .col-sm-2:first-child,
    .col-md-2:first-child,
    .col-lg-2:first-child,
    .col-xs-3:first-child,
    .col-sm-3:first-child,
    .col-md-3:first-child,
    .col-lg-3:first-child,
    .col-xs-4:first-child,
    .col-sm-4:first-child,
    .col-md-4:first-child,
    .col-lg-4:first-child,
    .col-xs-5:first-child,
    .col-sm-5:first-child,
    .col-md-5:first-child,
    .col-lg-5:first-child,
    .col-xs-6:first-child,
    .col-sm-6:first-child,
    .col-md-6:first-child,
    .col-lg-6:first-child,
    .col-xs-7:first-child,
    .col-sm-7:first-child,
    .col-md-7:first-child,
    .col-lg-7:first-child,
    .col-xs-8:first-child,
    .col-sm-8:first-child,
    .col-md-8:first-child,
    .col-lg-8:first-child,
    .col-xs-9:first-child,
    .col-sm-9:first-child,
    .col-md-9:first-child,
    .col-lg-9:first-child,
    .col-xs-10:first-child,
    .col-sm-10:first-child,
    .col-md-10:first-child,
    .col-lg-10:first-child,
    .col-xs-11:first-child,
    .col-sm-11:first-child,
    .col-md-11:first-child,
    .col-lg-11:first-child,
    .col-xs-12:first-child,
    .col-sm-12:first-child,
    .col-md-12:first-child,
    .col-lg-12:first-child {
        padding-left: 0;
    }

    .col-xs-1:last-child,
    .col-sm-1:last-child,
    .col-md-1:last-child,
    .col-lg-1:last-child,
    .col-xs-2:last-child,
    .col-sm-2:last-child,
    .col-md-2:last-child,
    .col-lg-2:last-child,
    .col-xs-3:last-child,
    .col-sm-3:last-child,
    .col-md-3:last-child,
    .col-lg-3:last-child,
    .col-xs-4:last-child,
    .col-sm-4:last-child,
    .col-md-4:last-child,
    .col-lg-4:last-child,
    .col-xs-5:last-child,
    .col-sm-5:last-child,
    .col-md-5:last-child,
    .col-lg-5:last-child,
    .col-xs-6:last-child,
    .col-sm-6:last-child,
    .col-md-6:last-child,
    .col-lg-6:last-child,
    .col-xs-7:last-child,
    .col-sm-7:last-child,
    .col-md-7:last-child,
    .col-lg-7:last-child,
    .col-xs-8:last-child,
    .col-sm-8:last-child,
    .col-md-8:last-child,
    .col-lg-8:last-child,
    .col-xs-9:last-child,
    .col-sm-9:last-child,
    .col-md-9:last-child,
    .col-lg-9:last-child,
    .col-xs-10:last-child,
    .col-sm-10:last-child,
    .col-md-10:last-child,
    .col-lg-10:last-child,
    .col-xs-11:last-child,
    .col-sm-11:last-child,
    .col-md-11:last-child,
    .col-lg-11:last-child,
    .col-xs-12:last-child,
    .col-sm-12:last-child,
    .col-md-12:last-child,
    .col-lg-12:last-child {
        padding-right: 0;
    }

    /* BASE INPUT */
    .innometrics-form {

        label {
            display: block;
            font-weight: normal;
            margin: 0 0 3px 0;
            float: none;
            clear: none;
            padding: 0;
            line-height: normal;
            &.form-label {
                display: block;
                font-weight: normal;
                margin: 0 0 3px 0;
                float: none;
                clear: none;
                padding: 0;
                line-height: normal;
            }
        }
        input,
        select,
        textarea,
        .form-control {
            padding: 5px;
            border: 1px solid;
            border-color: #b5b5b5 #dadada #dadada #dadada;
            background: white;
            line-height: 15px;
            height: 30px;
            border-radius: 0;
            margin-bottom: 10px;
            width: 100%;
            max-width: 500px;
            -webkit-box-shadow: none;
            -moz-box-shadow: none;
            box-shadow: none;
        }
        .form-group {
            input, select, textarea {
                max-width: none;
            }
        }
        select,
        textarea,
        select.form-control,
        textarea.form-control {
            height: auto;
        }
        .checkbox input[type=checkbox] {
            height: auto;
            margin-top: 2px;
        }
        select {
            &[multiple] {
                padding: 0;
                &.form-control {
                    padding: 0;
                }
            }
            option,
            &.form-control option {
                padding: 7px 10px;
            }
        }
        /* ERROR INPUT */

        .has-error {
            input, select, textarea, .form-control {
                border-bottom-width: 2px;
                border-color: #b5b5b5 #dadada #a90000 #dadada;
                -webkit-box-shadow: none;
                -moz-box-shadow: none;
                box-shadow: none;
            }
            input:focus,
            select:focus,
            textarea:focus,
            .form-control:focus {
                border-color: #b5b5b5;
                border-bottom-color: #a90000;
                -webkit-box-shadow: none;
                -moz-box-shadow: none;
                box-shadow: none;
            }
        }
        /* FOCUSED INPUT */

        input:focus,
        select:focus,
        textarea:focus,
        .form-control:focus {
            border-color: #b5b5b5;
            -webkit-box-shadow: none;
            -moz-box-shadow: none;
            box-shadow: none;
        }

    }

    /* TABS */

    .tabs.list-group {
        border-left: 1px solid #ddd;
        padding: 0;
        .list-group-item {
            border: 1px solid #e0e0e0;
            border-left: 4px solid white;
            border-radius: 0;
            &:hover {
                background-color: white;
                border-left-color: #e0e0e0;
            }
            &.active {
                color: #e56a3e;
                background-color: white;
                border-color: #e0e0e0;
                border-left-color: #e56a3e;
            }
        }
    }

    /* BUTTONS */

    .btn-group {
        top: -4px;
    }

    button,
    .btn {
        color: #333;
        background-repeat: repeat-x;
        background-position: 0 0;
        background-image: url("https://profilecloud.apsis1.com/elygui/images/component/button/gray-big.png");
        border: 1px solid #ccc;
        border-bottom-color: #777;
        height: 28px;
        font-weight: bold;
        font-size: 14px;
        display: inline-block;
        width: auto;
        min-width: 75px;
        padding: 0 8px;
        line-height: 26px;
        margin: 0px;
        border-radius: 0;
    }
    button:active,
    .btn:active {
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
    }
    button.btn-green,
    .btn.btn-green {
        color: white;
        background-image: url("https://profilecloud.apsis1.com/elygui/images/component/button/green.png");
        border-color: #063;
        border-bottom-color: #00592d;
        text-shadow: 0px 1px #333;
    }
    button.btn-red,
    .btn.btn-red {
        background-image: url("https://profilecloud.apsis1.com/elygui/images/component/button/red.png");
        border-color: #661a00;
        border-bottom-color: #7f2000;
        color: #fff;
        text-shadow: 0px 1px #333;
    }
}
